<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopName%> Shop</h1>
    <h2>Here are the books that we sell:</h2>
    <ul>
      <% availableBooks.forEach(function(book) { %>
      <li>
        <strong>Title:</strong> <%= book.title %><br>
        <strong>Description:</strong> <%= book.description %><br>
        <strong>Price:</strong> £<%=book.price%><br>
        <strong>Updated At:</strong> <%= new Date(book.updated_at).toLocaleDateString() %> 
      </li>
      <% }) %>
    </ul>
  </body>
</html>

