<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
    <!-- Add any additional CSS or head tags here -->
</head>
<body>
    <h1>User Profile</h1>
    <% if (user && images) { %> 
        <div>
            <h2><%= user.username %></h2>
            <p>Email: <%= user.email %></p>
            <% if (user.profile_picture) { %>
                <img src="<%= user.profile_picture %>" alt="Profile Picture">
            <% } else { %>
                <p>No profile picture available</p>
            <% } %>
            <p><%= user.bio || "No bio available" %></p>
            <%if(images.length > 0){%>
                <p>Number of posts: <%= images[0].image_url %></p>
                 <% for(var i = 0; i < images.length; i++){ %>
                <img src="<%= images[i].image_url %>" alt="img">
                <% } %> 
            <%}else{%>
                <p>Number of posts: 0</p>
            <%}%>
            
            
           

            <a href="/logout">logout</a>
            
        </div>

        
    <% } else { %>
        <p>User information is not available.</p>
    <% } %>
    <!-- Add more user details as needed -->
</body>
</html>